@media (min-width: 320px) and (max-width: 420px) {
  /*Home section styling*/
  nav {
    padding: 0;
  }

  .logo-section {
    display: none;
  }

  .navlinks {
    flex-basis: 100%;
  }

  .navlinks a,
  .navlinks i {
    font-size: 0.6rem;
  }

  .home-content-wrapper {
    max-width: 100%;
    padding: 1em;
  }

  .home-content-wrapper h1 {
    max-width: 60%;
    font-size: 1.3rem;
  }

  .search-box input {
    width: 70%;
    font-size: 10px;
  }

  .search-box span i {
    top: 9px;
  }

  .search-box button {
    right: 30%;
    top: 1%;
    padding: 9px;
  }

  .social-media-wrapper {
    max-width: 60%;
  }

  .social-media-wrapper span {
    font-size: 0.8rem;
  }

  .social-media-wrapper i {
    font-size: 1rem;
  }

  /*About us section*/

  .about-content-wrapper {
    max-width: 100%;
    padding: 2em 0 2em 1em;
  }

  .about-content-wrapper h2 {
    font-size: 1.8rem;
    max-width: 90%;
  }

  .about-content-wrapper p {
    font-size: 0.6rem;
    max-width: 90%;
  }

  .discover-menu-btn {
    width: 50%;
    font-size: 0.7rem;
    height: 40px;
  }

  .arrow-container i {
    font-size: 1.1rem;
  }

  /*Menu-Order now section styling*/

  #online-order {
    padding: 2em 0 2em 0;
  }

  #online-order h2 {
    font-size: 1.8rem;
  }

  .menu {
    min-width: 90%;
  }

  .menu ul li {
    font-size: 0.6rem;
  }

  .menu ul {
    padding: 10px;
  }

  .images-wrapper {
    max-width: 100%;
    flex-direction: column;
  }

  .images-wrapper img {
    max-width: 300px;
  }

  .overlay-text {
    gap: 0.3em;
    height: 100%;
  }

  .overlay-text #price {
    font-size: 2rem;
  }

  #stars {
    font-size: 1.5rem;
  }

  .overlay-text #breakfast-title {
    font-size: 1.5rem;
  }

  .overlay-text button {
    min-width: 40%;
  }

  /*Booking section styling*/

  #book-table {
    padding: 2em 1em 1em 1em;
  }

  .contact-info {
    gap: 0.5em;
  }

  .contact-info h2 {
    font-size: 1.8rem;
  }

  .contact-info i {
    font-size: 1.3em;
  }

  .opening-hours {
    min-width: 100%;
  }

  .monday-tuesday,
  .friday-sunday {
    gap: 0.2rem;
    margin-top: 2em;
  }

  .monday-tuesday span:first-child,
  .friday-sunday span:first-child {
    font-size: 0.9rem;
    text-align: center;
  }

  .monday-tuesday span:last-child,
  .friday-sunday span:last-child {
    font-size: 0.9rem;
    text-align: center;
  }

  /*Testimonials section styling*/

  #testimonials {
    padding: 2em;
    gap: 0.8em;
  }

  #testimonials h2 {
    font-size: 1.8rem;
  }

  #testimonials img {
    max-width: 150px;
    max-height: 150px;
  }

  #testimonials .customer-info span:first-child {
    font-size: 1.8rem;
  }

  #testimonials p {
    font-size: 0.8rem;
    width: 90%;
  }
}

@media (min-width: 421px) and (max-width: 480px) {
  /* Home section styling*/

  nav {
    padding: 10px;
  }

  .logo-section {
    display: none;
  }

  .navlinks {
    flex-basis: 100%;
  }

  .navlinks a,
  .navlinks i {
    font-size: 0.9rem;
  }

  .home-content-wrapper {
    max-width: 100%;
    padding: 1em;
  }

  .home-content-wrapper h1 {
    max-width: 60%;
    font-size: 2rem;
  }

  .search-box input {
    max-width: 60%;
    font-size: 10px;
  }

  .search-box span i {
    top: 9px;
  }

  .search-box button {
    right: 40%;
    top: 1%;
    padding: 8px;
  }

  .social-media-wrapper {
    max-width: 50%;
  }

  .social-media-wrapper span {
    font-size: 1.2rem;
  }

  .social-media-wrapper i {
    font-size: 1.2rem;
  }

  /*About section styling*/

  .about-content-wrapper {
    max-width: 100%;
    padding: 2em 0 2em 1em;
  }

  .about-content-wrapper h2 {
    font-size: 2rem;
    max-width: 70%;
  }

  .about-content-wrapper p {
    font-size: 0.8rem;
    max-width: 90%;
  }

  .discover-menu-btn {
    width: 40%;
    font-size: 0.8rem;
    height: 40px;
  }

  .arrow-container i {
    font-size: 1.1rem;
  }

  /*Menu-Order now section styling*/

  #online-order {
    padding: 2em 0 2em 0;
  }

  #online-order h2 {
    font-size: 2rem;
  }

  .menu {
    min-width: 90%;
  }

  .menu ul li {
    font-size: 0.9rem;
  }

  .menu ul {
    padding: 10px;
  }

  .images-wrapper {
    max-width: 100%;
    flex-direction: column;
  }

  .images-wrapper img {
    max-width: 420px;
  }

  .overlay-text {
    gap: 0.3em;
    height: 100%;
  }

  .overlay-text #breakfast-title {
    font-size: 2.2rem;
  }

  .overlay-text #price {
    font-size: 2rem;
  }

  #stars {
    font-size: 1.5rem;
  }

  .overlay-text button {
    min-width: 40%;
    font-size: 1.2rem;
  }

  /*Booking section styling*/

  #book-table {
    padding: 2em 1em 1em 1em;
  }

  .contact-info {
    gap: 0.7em;
  }

  .contact-info h2 {
    font-size: 2rem;
  }

  .contact-info i {
    font-size: 1.3em;
  }

  .opening-hours {
    min-width: 100%;
  }

  .monday-tuesday,
  .friday-sunday {
    gap: 0.2rem;
    margin-top: 2em;
  }

  .monday-tuesday span:first-child,
  .friday-sunday span:first-child {
    font-size: 1.2rem;
    text-align: center;
  }

  .monday-tuesday span:last-child,
  .friday-sunday span:last-child {
    font-size: 1.1rem;
    text-align: center;
  }

  /*Testimonial section styling */

  #testimonials {
    padding: 2em;
    gap: 0.8em;
  }

  #testimonials h2 {
    font-size: 2rem;
  }

  #testimonials img {
    max-width: 150px;
    max-height: 150px;
  }

  #testimonials .customer-info span:first-child {
    font-size: 2rem;
  }

  #testimonials p {
    font-size: 1.2rem;
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  /* Home section styling*/

  nav {
    padding: 10px;
  }

  .logo-section {
    display: none;
  }

  .navlinks {
    flex-basis: 100%;
  }

  .navlinks a,
  .navlinks i {
    font-size: 0.9rem;
  }

  .home-content-wrapper {
    max-width: 100%;
    padding: 1em;
  }

  .home-content-wrapper h1 {
    max-width: 60%;
    font-size: 2rem;
  }

  .search-box input {
    max-width: 50%;
    font-size: 10px;
  }

  .search-box span i {
    top: 9px;
  }

  .search-box button {
    right: 50%;
    top: 4%;
    padding: 8px;
  }

  .social-media-wrapper {
    max-width: 50%;
  }

  .social-media-wrapper span {
    font-size: 1.2rem;
  }

  .social-media-wrapper i {
    font-size: 1.2rem;
  }

  /*About section styling*/

  .about-content-wrapper {
    max-width: 100%;
    padding: 2em 0 2em 1em;
  }

  .about-content-wrapper h2 {
    font-size: 2.5rem;
    max-width: 70%;
  }

  .about-content-wrapper p {
    font-size: 0.8rem;
    max-width: 90%;
  }

  .discover-menu-btn {
    width: 40%;
    font-size: 0.9rem;
    height: 40px;
  }

  .arrow-container i {
    font-size: 1.1rem;
  }

  /*Menu-Order now section styling*/

  #online-order {
    padding: 2em 0 2em 0;
  }

  #online-order h2 {
    font-size: 2rem;
  }

  .menu {
    min-width: 90%;
  }

  .menu ul li {
    font-size: 0.9rem;
  }

  .menu ul {
    padding: 10px;
  }

  .images-wrapper {
    max-width: 100%;
    flex-direction: column;
  }

  .images-wrapper img {
    max-width: 480px;
  }

  .overlay-text {
    gap: 0.3em;
    height: 100%;
  }

  .overlay-text #breakfast-title {
    font-size: 2.2rem;
  }

  .overlay-text #price {
    font-size: 2rem;
  }

  #stars {
    font-size: 1.5rem;
  }

  .overlay-text button {
    min-width: 40%;
    font-size: 1.2rem;
  }

  /*Booking section styling*/

  #book-table {
    padding: 2em 1em 1em 1em;
  }

  .contact-info {
    gap: 0.7em;
  }

  .contact-info h2 {
    font-size: 2rem;
  }

  .contact-info i {
    font-size: 1.3em;
  }

  .opening-hours {
    min-width: 100%;
  }

  .monday-tuesday,
  .friday-sunday {
    gap: 0.2rem;
    margin-top: 2em;
  }

  .monday-tuesday span:first-child,
  .friday-sunday span:first-child {
    font-size: 1.2rem;
    text-align: center;
  }

  .monday-tuesday span:last-child,
  .friday-sunday span:last-child {
    font-size: 1.1rem;
    text-align: center;
  }

  /*Testimonial section styling */

  #testimonials {
    padding: 2em;
    gap: 0.8em;
  }

  #testimonials h2 {
    font-size: 2rem;
  }

  #testimonials img {
    max-width: 150px;
    max-height: 150px;
  }

  #testimonials .customer-info span:first-child {
    font-size: 2rem;
  }

  #testimonials p {
    font-size: 1.2rem;
    width: 90%;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  nav {
    padding: 10px;
  }

  .logo-section {
    display: none;
  }

  .navlinks {
    flex-basis: 100%;
  }

  .navlinks a,
  .navlinks i {
    font-size: 1.1rem;
  }

  .home-content-wrapper {
    max-width: 100%;
    padding: 1.5em;
  }

  .home-content-wrapper h1 {
    max-width: 60%;
    font-size: 2.5rem;
  }

  .search-box input {
    max-width: 50%;
    font-size: 10px;
  }

  .search-box span i {
    top: 9px;
  }

  .search-box button {
    right: 50%;
    top: 4%;
    padding: 8px;
  }

  .social-media-wrapper {
    max-width: 40%;
  }

  .social-media-wrapper span {
    font-size: 1.2rem;
  }

  .social-media-wrapper i {
    font-size: 1.2rem;
  }

  /*About section styling*/

  .about-content-wrapper {
    max-width: 100%;
    padding: 2em 0 2em 1em;
  }

  .about-content-wrapper h2 {
    font-size: 3rem;
    max-width: 70%;
  }

  .about-content-wrapper p {
    font-size: 1rem;
    max-width: 90%;
  }

  .discover-menu-btn {
    width: 30%;
    font-size: 0.9rem;
    height: 40px;
  }

  .arrow-container i {
    font-size: 1.1rem;
  }

  /*Menu-Order now section styling*/

  #online-order {
    padding: 2em 0 2em 0;
  }

  #online-order h2 {
    font-size: 2rem;
  }

  .menu {
    min-width: 90%;
  }

  .menu ul li {
    font-size: 0.9rem;
  }

  .menu ul {
    padding: 10px;
  }

  .images-wrapper {
    max-width: 100%;
    flex-direction: column;
  }

  .images-wrapper img {
    max-width: 480px;
  }

  .overlay-text {
    gap: 1.5em;
    height: 100%;
  }

  .overlay-text #breakfast-title {
    font-size: 2.2rem;
  }

  .overlay-text #price {
    font-size: 2rem;
  }

  #stars {
    font-size: 1.5rem;
  }

  .overlay-text button {
    min-width: 40%;
    font-size: 1.2rem;
  }

  /*Booking section styling*/

  #book-table {
    padding: 2em 1em 1em 1em;
  }

  .contact-info {
    gap: 0.7em;
  }

  .contact-info h2 {
    font-size: 2rem;
  }

  .contact-info i {
    font-size: 1.3em;
  }

  .opening-hours {
    min-width: 100%;
  }

  .monday-tuesday,
  .friday-sunday {
    gap: 0.2rem;
    margin-top: 2em;
  }

  .monday-tuesday span:first-child,
  .friday-sunday span:first-child {
    font-size: 1.2rem;
    text-align: center;
  }

  .monday-tuesday span:last-child,
  .friday-sunday span:last-child {
    font-size: 1.1rem;
    text-align: center;
  }

  /*Testimonial section styling */

  #testimonials {
    padding: 2em;
    gap: 0.8em;
  }

  #testimonials h2 {
    font-size: 2rem;
  }

  #testimonials img {
    max-width: 150px;
    max-height: 150px;
  }

  #testimonials .customer-info span:first-child {
    font-size: 2rem;
  }

  #testimonials p {
    font-size: 1.2rem;
    width: 90%;
  }
}

@media (min-width: 801px) and (max-width: 1025px) {
  nav {
    padding: 10px;
  }

  .logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    padding: 0;
  }

  .navlinks {
    flex-basis: 70%;
  }

  .navlinks a,
  .navlinks i {
    font-size: 1rem;
  }

  .home-content-wrapper {
    max-width: 90%;
    padding: 1.5em;
  }

  .home-content-wrapper h1 {
    max-width: 60%;
    font-size: 3rem;
  }

  .search-box input {
    max-width: 40%;
    font-size: 10px;
  }

  .search-box span i {
    top: 9px;
  }

  .search-box button {
    right: 60%;
    top: 5%;
    padding: 8px;
  }

  .social-media-wrapper {
    max-width: 35%;
  }

  .social-media-wrapper span {
    font-size: 1.2rem;
  }

  .social-media-wrapper i {
    font-size: 1.2rem;
  }

  /*About section styling*/

  .about-content-wrapper span {
    font-size: 1.2rem;
  }

  .about-content-wrapper {
    max-width: 100%;
    padding: 2em 0 2em 1em;
  }

  .about-content-wrapper h2 {
    font-size: 3rem;
    max-width: 70%;
  }

  .about-content-wrapper p {
    font-size: 1rem;
    max-width: 90%;
  }

  .discover-menu-btn {
    width: 30%;
    font-size: 1.2rem;
    height: 40px;
  }

  .arrow-container i {
    font-size: 1.1rem;
  }

  /*Menu-Order now section styling*/

  #online-order span {
    font-size: 1.2rem;
  }

  #online-order {
    padding: 2em 0 2em 0;
  }

  #online-order h2 {
    font-size: 2.5rem;
  }

  .menu {
    min-width: 90%;
  }

  .menu ul li {
    font-size: 1.2rem;
  }

  .menu ul {
    padding: 10px;
  }

  .images-wrapper {
    max-width: 100%;
    flex-direction: column;
  }

  .images-wrapper img {
    max-width: 2000px;
  }

  .overlay-text {
    gap: 2em;
    height: 100%;
  }

  .overlay-text #breakfast-title {
    font-size: 2.5rem;
  }

  .overlay-text #price {
    font-size: 2.5rem;
  }

  #stars {
    font-size: 2rem;
  }

  .overlay-text button {
    min-width: 40%;
    font-size: 1.5rem;
  }

  /*Booking section styling*/

  #book-table {
    padding: 2em 1em 1em 1em;
  }
  .contact-info span:first-child {
    font-size: 1.2rem;
  }

  .contact-info {
    gap: 1.5em;
  }

  .contact-info h2 {
    font-size: 2.5rem;
  }

  .contact-info i {
    font-size: 1.3em;
  }

  .opening-hours {
    min-width: 100%;
  }

  .monday-tuesday,
  .friday-sunday {
    gap: 0.2rem;
    margin-top: 2em;
  }

  .monday-tuesday span:first-child,
  .friday-sunday span:first-child {
    font-size: 1.2rem;
    text-align: center;
  }

  .monday-tuesday span:last-child,
  .friday-sunday span:last-child {
    font-size: 1.1rem;
    text-align: center;
  }

  /*Testimonial section styling */

  #testimonials {
    padding: 2em;
    gap: 0.8em;
  }

  #testimonials span:first-child {
    font-size: 1.2rem;
  }

  #testimonials h2 {
    font-size: 2.5rem;
  }

  #testimonials img {
    max-width: 150px;
    max-height: 150px;
  }

  #testimonials .customer-info span:first-child {
    font-size: 2rem;
  }

  #testimonials p {
    font-size: 1.5rem;
    width: 90%;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  nav {
    padding: 10px;
  }

  .navlinks {
    flex-basis: 70%;
  }

  .navlinks a,
  .navlinks i {
    font-size: 1.2rem;
  }

  .home-content-wrapper {
    max-width: 90%;
    padding: 1.5em;
  }

  .home-content-wrapper h1 {
    max-width: 40%;
    font-size: 3rem;
  }

  .search-box input {
    max-width: 35%;
    font-size: 10px;
  }

  .search-box span i {
    top: 9px;
  }

  .search-box button {
    right: 65%;
    top: 3%;
    padding: 8px;
  }

  .social-media-wrapper {
    max-width: 30%;
  }

  .social-media-wrapper span {
    font-size: 1.2rem;
  }

  .social-media-wrapper i {
    font-size: 1.2rem;
  }

  /*About section styling*/

  .about-content-wrapper span {
    font-size: 1.2rem;
  }

  .about-content-wrapper {
    max-width: 100%;
    padding: 2em 0 2em 1em;
  }

  .about-content-wrapper h2 {
    font-size: 3rem;
    max-width: 40%;
  }

  .about-content-wrapper p {
    font-size: 1rem;
    max-width: 90%;
  }

  .discover-menu-btn {
    width: 25%;
    font-size: 1.2rem;
    height: 40px;
  }

  .arrow-container i {
    font-size: 1.1rem;
  }

  /*Menu-Order now section styling*/

  #online-order span {
    font-size: 1.2rem;
  }

  #online-order {
    padding: 2em 0 3em 0;
  }

  #online-order h2 {
    font-size: 2.5rem;
  }

  .menu {
    min-width: 90%;
    padding: 2em;
  }

  .menu ul li {
    font-size: 1.2rem;
  }

  .menu ul {
    padding: 10px;
  }

  .images-wrapper {
    max-width: 100%;
    flex-direction: row;
  }

  .images-wrapper img {
    max-width: 230px;
  }

  .overlay-text {
    gap: 1em;
    height: 100%;
  }

  .overlay-text #breakfast-title {
    font-size: 1.5rem;
  }

  .overlay-text #price {
    font-size: 1.5rem;
  }

  #stars {
    font-size: 1rem;
  }

  .overlay-text button {
    min-width: 40%;
    font-size: 1rem;
  }

  /*Booking section styling*/

  #book-table {
    padding: 2em 1em 1em 1em;
  }
  .contact-info span:first-child {
    font-size: 1.2rem;
  }

  .contact-info {
    gap: 1.5em;
  }

  .contact-info h2 {
    font-size: 2.5rem;
  }

  .contact-info i {
    font-size: 1.3em;
  }

  .opening-hours {
    min-width: 100%;
  }

  .monday-tuesday,
  .friday-sunday {
    gap: 0.2rem;
    margin-top: 2em;
  }

  .monday-tuesday span:first-child,
  .friday-sunday span:first-child {
    font-size: 1.5rem;
    text-align: center;
  }

  .monday-tuesday span:last-child,
  .friday-sunday span:last-child {
    font-size: 1.5rem;
    text-align: center;
  }

  /*Testimonial section styling */

  #testimonials {
    padding: 2em;
    gap: 0.8em;
  }

  #testimonials span:first-child {
    font-size: 1.2rem;
  }

  #testimonials h2 {
    font-size: 2.5rem;
  }

  #testimonials img {
    max-width: 150px;
    max-height: 150px;
  }

  #testimonials .customer-info span:first-child {
    font-size: 2rem;
  }

  #testimonials p {
    font-size: 1.5rem;
    width: 90%;
  }
}

@media (min-width: 1281px) and (max-width: 1440px) {
  nav {
    padding: 10px;
  }

  .navlinks {
    flex-basis: 70%;
  }

  .navlinks a,
  .navlinks i {
    font-size: 1.2rem;
  }

  .home-content-wrapper {
    max-width: 90%;
    padding: 2em 0 2em 5em;
  }

  .home-content-wrapper h1 {
    max-width: 40%;
    font-size: 3rem;
  }

  .search-box input {
    max-width: 35%;
    font-size: 10px;
  }

  .search-box span i {
    top: 9px;
  }

  .search-box input::placeholder {
    /*New*/
    font-size: 0.8rem;
  }

  .search-box button {
    right: 65%;
    top: 3%;
    padding: 8px;
  }

  .social-media-wrapper {
    max-width: 30%;
  }

  .social-media-wrapper span {
    font-size: 1.5rem;
  }

  .social-media-wrapper i {
    font-size: 2rem;
  }

  /*About section styling*/

  .about-content-wrapper span {
    font-size: 1.5rem;
  }

  .about-content-wrapper {
    max-width: 100%;
    padding: 2em 0 2em 5em;
  }

  .about-content-wrapper h2 {
    font-size: 3rem;
    max-width: 40%;
  }

  .about-content-wrapper p {
    font-size: 1rem;
    max-width: 90%;
  }

  .discover-menu-btn {
    width: 25%;
    font-size: 1.5rem;
    height: 40px;
  }

  .arrow-container i {
    font-size: 1.1rem;
  }

  /*Menu-Order now section styling*/

  #online-order span {
    font-size: 1.2rem;
  }

  #online-order {
    padding: 2em 0 3em 0;
  }

  #online-order h2 {
    font-size: 2.5rem;
  }

  .menu {
    min-width: 90%;
    padding: 2em;
  }

  .menu ul li {
    font-size: 1.2rem;
  }

  .menu ul {
    padding: 10px;
  }

  .images-wrapper {
    max-width: 100%;
    flex-direction: row;
  }

  .images-wrapper img {
    max-width: 280px;
  }

  .overlay-text {
    gap: 1em;
    height: 100%;
  }

  .overlay-text #breakfast-title {
    font-size: 1.5rem;
  }

  .overlay-text #price {
    font-size: 1.5rem;
  }

  #stars {
    font-size: 1rem;
  }

  .overlay-text button {
    min-width: 40%;
    font-size: 1rem;
  }

  /*Booking section styling*/

  #book-table {
    padding: 2em 1em 1em 1em;
  }
  .contact-info span:first-child {
    font-size: 1.5rem;
  }

  .contact-info {
    gap: 1.5em;
  }

  .contact-info h2 {
    font-size: 2.5rem;
  }

  .contact-info i {
    font-size: 1.3em;
  }

  .opening-hours {
    min-width: 100%;
  }

  .monday-tuesday,
  .friday-sunday {
    gap: 0.2rem;
    margin-top: 2em;
  }

  .monday-tuesday span:first-child,
  .friday-sunday span:first-child {
    font-size: 1.5rem;
    text-align: center;
  }

  .monday-tuesday span:last-child,
  .friday-sunday span:last-child {
    font-size: 1.5rem;
    text-align: center;
  }

  /*Testimonial section styling */

  #testimonials {
    padding: 2em;
    gap: 0.8em;
  }

  #testimonials span:first-child {
    font-size: 1.5rem;
  }

  #testimonials h2 {
    font-size: 2.5rem;
  }

  #testimonials img {
    max-width: 150px;
    max-height: 150px;
  }

  #testimonials .customer-info span:first-child {
    font-size: 2rem;
  }

  #testimonials p {
    font-size: 1.5rem;
    width: 90%;
  }
}

@media (min-width: 1441px) and (max-width: 1650px) {
  nav {
    padding: 10px;
  }

  .navlinks {
    flex-basis: 70%;
  }

  .navlinks a,
  .navlinks i {
    font-size: 1.2rem;
  }

  .home-content-wrapper {
    max-width: 90%;
    padding: 2em 0 2em 5em;
  }

  .home-content-wrapper h1 {
    max-width: 40%;
    font-size: 3rem;
  }

  .search-box input {
    max-width: 35%;
    font-size: 10px;
  }

  .search-box span i {
    top: 9px;
  }

  .search-box input::placeholder {
    /*New*/
    font-size: 0.8rem;
  }

  .search-box button {
    right: 65%;
    top: 3%;
    padding: 8px;
  }

  .social-media-wrapper {
    max-width: 30%;
  }

  .social-media-wrapper span {
    font-size: 1.5rem;
  }

  .social-media-wrapper i {
    font-size: 2rem;
  }

  /*About section styling*/

  .about-content-wrapper span {
    font-size: 1.5rem;
  }

  .about-content-wrapper {
    max-width: 100%;
    padding: 2em 0 2em 5em;
  }

  .about-content-wrapper h2 {
    font-size: 3rem;
    max-width: 40%;
  }

  .about-content-wrapper p {
    font-size: 1rem;
    max-width: 90%;
  }

  .discover-menu-btn {
    width: 20%;
    font-size: 1.5rem;
    height: 40px;
  }

  .arrow-container i {
    font-size: 1.1rem;
  }

  /*Menu-Order now section styling*/

  #online-order span {
    font-size: 1.2rem;
  }

  #online-order {
    padding: 2em 0 3em 0;
  }

  #online-order h2 {
    font-size: 2.5rem;
  }

  .menu {
    min-width: 90%;
    padding: 2em;
  }

  .menu ul li {
    font-size: 1.2rem;
  }

  .menu ul {
    padding: 10px;
  }

  .images-wrapper {
    max-width: 100%;
    flex-direction: row;
  }

  .images-wrapper img {
    max-width: 320px;
  }

  .overlay-text {
    gap: 2em;
    height: 100%;
  }

  .overlay-text #breakfast-title {
    font-size: 2rem;
  }

  .overlay-text #price {
    font-size: 2rem;
  }

  #stars {
    font-size: 2rem;
  }

  .overlay-text button {
    min-width: 40%;
    font-size: 1.2rem;
  }

  /*Booking section styling*/

  #book-table {
    padding: 2em 1em 1em 1em;
  }
  .contact-info span:first-child {
    font-size: 1.5rem;
  }

  .contact-info {
    gap: 1.5em;
  }

  .contact-info h2 {
    font-size: 2.5rem;
  }

  .contact-info i {
    font-size: 1.3em;
  }

  .opening-hours {
    min-width: 100%;
  }

  .monday-tuesday,
  .friday-sunday {
    gap: 0.2rem;
    margin-top: 2em;
  }

  .monday-tuesday span:first-child,
  .friday-sunday span:first-child {
    font-size: 1.5rem;
    text-align: center;
  }

  .monday-tuesday span:last-child,
  .friday-sunday span:last-child {
    font-size: 1.5rem;
    text-align: center;
  }

  /*Testimonial section styling */

  #testimonials {
    padding: 2em;
    gap: 0.8em;
  }

  #testimonials span:first-child {
    font-size: 1.5rem;
  }

  #testimonials h2 {
    font-size: 2.5rem;
  }

  #testimonials img {
    max-width: 150px;
    max-height: 150px;
  }

  #testimonials .customer-info span:first-child {
    font-size: 2rem;
  }

  #testimonials p {
    font-size: 1.5rem;
    width: 90%;
  }
}
