/*General Styling*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.grid-container {
  grid-template-columns: repeat(1, 1fr);
}

body {
  min-height: 100vh;
}

h2 {
  font-weight: 500;
  font-size: 3rem;
}

/*Home section styling*/

#home {
  background-image: url("images/23.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  max-height: 10vh;
  display: flex;
  padding: 0 3em 0 3em;
}

.logo-section {
  flex-basis: 30%;
  padding-top: 20px;
}

.logo-section img {
  width: 70%;
  height: 90%;
}

.navlinks {
  flex-basis: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlinks a,
.navlinks i {
  color: white;
  font-size: 1.5rem;
}

.navlinks i:hover,
.navlinks a:hover {
  cursor: pointer;
}

.home-content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding: 4em 0 4em 3em;
  gap: 1.5em;
}

.home-content-wrapper h1 {
  color: white;
  max-width: 65%;
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 500;
}

.search-box {
  position: relative;
}

.search-box input {
  display: flex;
  padding: 10px;
  max-width: 100%;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-box input::placeholder {
  padding-left: 20px;
}

.search-box span i {
  position: absolute;
  left: 10px;
  top: 12px;
  color: #aaa;
  font-size: 16px;
}

.search-box button {
  position: absolute;
  background-color: rgba(252, 164, 1, 0.925);
  border: none;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right: 40%;
  top: 3%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box button:hover {
  cursor: pointer;
}

.social-media-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 40%;
}

.social-media-wrapper span {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.social-media-wrapper i {
  color: rgba(252, 164, 1, 0.925);
  font-size: 1.5rem;
  vertical-align: middle;
}

/*About us section styling*/

#about {
  display: flex;
  flex-direction: row-reverse;
  background-image: url("images/about.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding: 4em 6em 4em 0;
  gap: 1.2em;
}

.about-content-wrapper span {
  color: rgba(252, 164, 1, 0.925);
  font-weight: 500;
}

.about-content-wrapper h2 {
  color: white;
  max-width: 60%;
  line-height: 1.2;
}

.about-content-wrapper p {
  font-size: 1.2rem;
  color: lightgrey;
}

.discover-menu-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffa500;
  color: white;
  width: 30%;
  border: none;
  border-radius: 5px;
  padding: 0 0 0 2em;
  font-size: 1.2rem;
  height: 50px;
  overflow: hidden;
}

.arrow-container {
  background-color: #ffb74d;
  height: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.arrow-container i {
  font-size: 1.2rem;
  color: white;
}

.discover-menu-btn:hover {
  cursor: pointer;
}

/*Menu-Order now section styling*/

#online-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 1.4em;
}

#online-order span {
  color: #ffa500;
  font-weight: 500;
}

.menu {
  display: flex;
  min-width: 25%;
}

.menu ul a {
  color: black;
}

.menu ul a:hover {
  color: #ffa500;
}

.menu ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: rgba(219, 238, 238, 0.719);
  border: 1px solid rgba(219, 238, 238, 0.719);
  padding: 5px;
  box-shadow: 10px 5px 15px rgba(117, 146, 146, 0.719);
}

.menu ul li:first-child a {
  color: #ffa500;
}

.images-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 2em;
}

.images-wrapper img {
  max-width: 400px;
  max-height: 350px;
}

.image-container {
  position: relative;
}

.image-container img {
  height: 100%;
}

.overlay-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  height: 100%;
  gap: 1em;
  background-color: rgba(140, 139, 148, 0.658);
}

.overlay-text #price {
  font-size: 2.5rem;
  color: white;
}

#stars {
  color: gold;
  font-size: 2rem;
}

.overlay-text #breakfast-title {
  font-size: 2rem;
  color: white;
}

.overlay-text button {
  background-color: #ffa500;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffa500;
  color: white;
  min-width: 30%;
}

.overlay-text button:hover {
  cursor: pointer;
}

/*Booking section styling*/

#book-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-image: url("images/opening-hours.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.contact-info span:first-child {
  color: #ffa500;
  font-weight: 500;
}

.contact-info i {
  color: #ffa500;
  border: 2px solid #ffa500;
  padding: 10px;
  border-radius: 50%;
}

.contact-info span:nth-child(2n) {
  font-size: 1.5rem;
  font-weight: 500;
}

.contact-info span:last-child {
  color: #ffa500;
  font-size: 1.5rem;
  font-weight: 500;
}

.opening-hours {
  display: flex;
  justify-content: space-between;
  min-width: 40%;
}

.monday-tuesday,
.friday-sunday {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 2em;
}

.monday-tuesday span:first-child,
.friday-sunday span:first-child {
  font-size: 1.2rem;
}

.monday-tuesday span:last-child,
.friday-sunday span:last-child {
  font-weight: bold;
}

/*Testimonials section styling */

#testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 1em;
}

#testimonials span:first-child {
  color: #ffa500;
  font-weight: 500;
}

#testimonials img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.customer-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#testimonials .customer-info span:first-child {
  font-size: 1.5rem;
  color: black;
}
#testimonials .customer-info span:last-child {
  color: rgb(150, 149, 149);
}

#testimonials p {
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
}
