/*General Styling*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.grid-container {
  grid-template-columns: repeat(1, 1fr);
}

body {
  min-height: 100vh;
}

/*Home section styling*/

#home {
  background-image: url("images/23.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  max-height: 10vh;
  display: flex;
  padding: 0 3em 0 3em;
}

.logo-section {
  flex-basis: 30%;
  padding-top: 10px;
}

.logo-section img {
  width: 70%;
  height: 90%;
}

.navlinks {
  flex-basis: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlinks a {
  color: white;
  font-size: 1.4rem;
}

.navlinks i {
  color: white;
  font-size: 1.5rem;
}

.navlinks i:hover {
  cursor: pointer;
}

.navlinks a:hover {
  cursor: pointer;
}

.home-content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding: 4em 0 4em 3em;
  gap: 1.5em;
}

.home-content-wrapper h1 {
  color: white;
  max-width: 65%;
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 500;
}

.search-box {
  position: relative;
}

.search-box input {
  display: flex;
  padding: 10px;
  max-width: 100%;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-box input::placeholder {
  padding-left: 20px;
}

.search-box span i {
  position: absolute;
  left: 10px;
  top: 12px;
  color: #aaa;
  font-size: 16px;
}

.search-box button {
  position: absolute;
  background-color: rgba(252, 164, 1, 0.925);
  border: none;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right: 40%;
  top: 3%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box button:hover {
  cursor: pointer;
}

.social-media-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 40%;
}

.social-media-wrapper span {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.social-media-wrapper i {
  color: rgba(252, 164, 1, 0.925);
  font-size: 1.5rem;
  vertical-align: middle;
}

/*About us section styling*/

#about {
  display: flex;
  flex-direction: row-reverse;
  background-image: url("images/about.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding: 4em 6em 4em 0;
  gap: 1.2em;
}

.about-content-wrapper span {
  color: rgba(252, 164, 1, 0.925);
  font-weight: 500;
}

.about-content-wrapper h2 {
  color: white;
  font-size: 3rem;
  font-weight: 500;
  max-width: 60%;
  line-height: 1.2;
}

.about-content-wrapper p {
  font-size: 1.2rem;
  color: lightgrey;
}

.discover-menu-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffa500;
  color: white;
  width: 30%;
  border: none;
  border-radius: 5px;
  padding: 0 0 0 2em;
  font-size: 1.2rem;
  height: 50px;
  overflow: hidden;
}

.arrow-container {
  background-color: #ffb74d;
  height: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
}

.arrow-container i {
  font-size: 1.2rem;
  color: white;
}

.discover-menu-btn:hover {
  cursor: pointer;
}
